body{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    color: chartreuse;
    font-family: monospace;
    font-size: 14px;
}

p{
    color: grey;
    font-family: monospace;
}
p2{
    color: grey;
    font-family: monospace;
    margin-left: 50px;    
    margin-right: 50px;
}

a:link {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
  
  a:hover {
    color: chartreuse;
    background-color: transparent;
    text-decoration: underline;
}
  
  a:active {
    color: chartreuse;
    background-color: transparent;
    text-decoration: underline;
}
