<nav
  class="relative w-full flex flex-wrap items-center justify-between py-3 bg-white text-gray-900 shadow-lg navbar navbar-expand-lg navbar-light"
>
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
    <button
      class="navbar-toggler text-orange-500 focus:text-blue-900 border-0 hover:shadow-none hover:no-underline py-2 px-2.5 bg-transparent focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="bars"
        class="w-6"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          fill="currentColor"
          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
        ></path>
      </svg>
    </button>
      <a routerLink="/" role="button">
      <img class="h-20 pr-5 lg:border-r-0 border-0" src="/assets/asian_logo_2.png" alt="asian_logo">
      </a>
    <div class="collapse navbar-collapse flex-grow items-center" id="navbarSupportedContent1">
      <!-- Left links -->
      <ul class="text-orange-500 navbar-nav flex flex-col pl-0 sm:pl-3 list-style-none mr-auto">
        <li class="nav-item p-1">
          <!-- <a class="nav-link hover:opacity-80 focus:opacity-80" routerLink="/portfolio">PORTFOLIO</a>  -->
        </li>
        <li class="nav-item p-1">
          <a
            class=" nav-link hover:opacity-80 focus:opacity-80 p-0 focus:text-blue-900"
            routerLink="/service"
            >SERVICES</a
          >
        </li>
        <li class="nav-item p-1">
          <a
            class="nav-link hover:opacity-80 focus:opacity-80 p-0 focus:text-blue-900"
            routerLink="/contact"
            >CONTACT US</a
          >
        </li>


      </ul>
      <a class="hidden lg:block">+91 7265887213</a>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
        <!-- Right elements -->
  </div>
</nav>
