<div class="p-2 grid md:grid-cols-2 grid-cols-1 m-2 gap-5">
  <div class="flex m-auto">
  <a routerLink="/" class="mono m-auto font-bold text-transparent text-2xl bg-clip-text bg-gradient-to-r from-cyan-400 to-cyan-600">Looph0le</a>
  </div>
  <div class="hidden text-white">
    <a href="">Github</a>
    <a href="">Blogs</a>
    <a href="">Contact</a>
  </div>
  <div class="m-auto text-cyan-500 bg-black/20 shadow-lg shadow-black rounded p-2">
  <a class="m-2 p-2 font-bold" routerLink="blogs">Blogs</a>
  <a class="m-2 p-2 font-bold" href="https://github.com/looph0le" target="_blank">Github</a>
  <a class="m-2 p-2 font-bold" href="https://www.youtube.com/channel/UCczeHsI053Pw-FNIkWQG0aQ" target="_blank">Youtube</a>
  <a class="m-2 p-2 font-bold" href="">Contact</a>
  </div>
</div>
<router-outlet></router-outlet>
