<div class="bg-gradient-to-t from-green-400 to-cyan-400">
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="text-center lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <a class="text-5xl text-black">Web Development</a>
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <p class="rounded-2xl p-5 pt-10 pb-10  leading-relaxed text-black">Take a examine how web sites have taken over our lives and why internet improvement is so essential.

We may even discover the destiny of Web Development Company and what traits we are able to assume to look with inside the years to come!
      <br>
      The first internet site became created in 1991 via way of means of Tim Berners-Lee. At the time, it became not anything extra than an easy web page of textual content with some hyperlinks to different pages. However, this small improvement could move directly to extrude the arena forever. By 1993, there have been already tens of lots of web sites on line and the wide variety became developing rapidly. As internet improvement persevered to grow, so did its capabilities.
      </p>
    </div>
  </div>
</section>


<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    
    <div class="text-center lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10">
      <a class="text-5xl text-black">Social Media Marketing</a>
    </div>

    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <p class="mb-8 leading-relaxed text-black">
            Social media plays a big role in how we exist on and offline. From the platforms we are active on to the type of content we engage with, it’s not unusual for people to form (and break) connections based on the platforms they have in common. Folks on Twitter are typically ahead of the curve, always knowing about trends ahead of everyone else while LinkedIn is the professional growth platform for the serious-minded.

With everything that we like and share making up pieces of our digital identity, it’s only natural that our careers are also impacted by our online presence. And with remote work on the rise, it’s more important than ever to understand how to use social media to connect with peers and mentors.

In this article, we’ll be talking about different ways social media can impact our professional lives and how you can use that to your advantage to grow your career.</p>
    </div>
      </div>
</section>


<section class="text-gray-600 body-font ">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="text-center lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <a class="text-5xl text-black">Search Engine Optimization [SEO]</a>
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center text-black">
      <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
    </div>
  </div>
</section>
</div>

