<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Mitansh Panchal</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<center>
<body class="bg-black">
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap py-7 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-rose-600 mb-4 md:mb-0">
      <span class="ml-3 text-xl font-bold ">Mitansh Panchal</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center font-bold italic">
      <a href="/" class="mr-5 text-rose-600 hover:text-sky-600">Home</a>
      <a href="/blog/" class="mr-5 text-rose-600 hover:text-sky-600">Blog</a>
      <a href="https://github.com/looph0le" target="_blank" class="mr-5 text-rose-600 hover:text-sky-600">Github</a>
      <a class="mr-5 text-rose-600 hover:text-sky-600">Resume</a>
    </nav>
  </div>
</header>
<section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
</section>
</body>

</html>
