{% extends "base.html" %}

{% block content %}

<div class="flex flex-wrap md:-m-2 -m-1 p-4">
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="ss-1.png">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="/ss-2.png">
        </div>
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block" src="ss-3.png">
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-full h-full object-cover object-center block" src="ss-6.png">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="ss-4.png">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-full object-cover h-full object-center block" src="ss-5.png">
        </div>
      </div>
    </div>
  </div>
  <br>
  <h1 class="title text-rose-600 text-3xl font-bold italic">Hey There 👋<br> </h1>
  <br>

  <p class="text-rose-600 text-left px-10 text-xl"></b></p>
{% endblock content %}
