<div class="relative overflow-hidden bg-no-repeat bg-cover" style="
    background-position: 50%;
    background-image: url('assets/pic3.jpg');
    height: 500px;
  ">
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(0, 0, 0, 0)">
      <div class="flex justify-center items-center h-full">
        <div class="text-center text-white px-2 md:px-8">
          <h1 class="lg:text-2xl text-xs font-bold mt-0 mb-6 typewriter text-black">< WebDevelopment, Social-Media-Marketing, Consultancy ></h1>
          <h3 class="lg:text-xl text-sm font-bold mb-8 text-gray-900">Contact Us To Take Your Business Online NOW!!</h3>
          <button type="button"
            class="opacity-90 bg-orange-500 animate-bounce inline-block px-6 py-2.5 border-2 border-orange-500 text-white font-medium text-xs leading-tight uppercase rounded hover:font-bold hover:bg-gray-900 hover:bg-opacity-70 hover:text-orange-500 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
            data-mdb-ripple="true" data-mdb-ripple-color="primary">
            Contact Us
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->

<div class="lg:flex justify-center p-5">
  <a class="text-3xl text-gray-500 justify-center flex p-3">Services</a>
  <div class="flex justify-center p-3">
  <div class="rounded-2xl shadow-xl shadow-black bg-white max-w-sm">
    <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg" src="assets/pic2.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">Web Design</h5>
      <p class="text-gray-700 text-base mb-4">
        Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
    </div>
  </div>
</div>


<div class="flex justify-center p-3">
  <div class="rounded-2xl shadow-xl shadow-black bg-white max-w-sm">
    <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg" src="assets/pic1.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">Web Consultancy</h5>
      <p class="text-gray-700 text-base mb-4">
        Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
    </div>
  </div>
</div>

<div class="flex justify-center p-3">
  <div class="rounded-2xl shadow-xl shadow-black bg-white max-w-sm">
    <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
      <img class="rounded-t-lg" src="assets/pic4.jpg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">E-Commerce</h5>
      <p class="text-gray-700 text-base mb-4">
        Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
    </div>
  </div>
</div>

</div>
