<div class="grid m-3 p-3 gap-2 lg:grid-cols-3 bg-black/10 rounded-xl">
  <h1 class="lg:col-span-3 font-bold text-cyan-500 text-lg">Recent Blogs</h1>
  <div class="rounded-xl text-cyan-500 bg-black/10 p-3 m-1 shadow-lg shadow-black/50">
    <h1 class="font-bold mono">Linux Beginners Guide</h1>
    <p class="text-white/30">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
  </div>

  <div class="rounded-xl text-cyan-500 bg-black/10 p-3 m-1 shadow-lg shadow-black/50">
    <h1 class="font-bold mono">Title</h1>
    <p class="text-white/30">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
  </div>

  <div class="rounded-xl text-cyan-500 bg-black/10 p-3 m-1 shadow-black/50 shadow-lg">
    <h1 class="font-bold mono">Title</h1>
    <p class="text-white/30">Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.</p>
  </div>
  </div>

<div class="grid md:grid-cols-3 rounded-xl text-cyan-500 bg-black/20 p-3 m-2">
  <h1 class="font-bold text-lg md:col-span-3">Your Author</h1>
  <div class="text-cyan-500 p-3 m-1 rounded-xl">
    <img class="shadow-xl shadow-black/90 h-60 mx-auto rounded-lg m-3 hover:scale-90 transition-all" src="https://avatars.githubusercontent.com/u/71015415?s=400&u=4043e17d23529ba3360f873c56c190b0b5eebed9&v=4" alt="me">
  </div>
  <div class="text-cyan-500 bg-black/10 p-3 m-1 rounded-xl md:col-span-2">
    <p class="text-center text-5xl">Mitansh Panchal</p>
    <p class="text-center text-cyan-900">Computer Engineer / Blogger / Linux Enthusiast</p>
    <div class="grid grid-cols-1 mt-3 bg-black/20 p-2 rounded-lg">
      <h1 class="font-bold">Education</h1>
      <p class="p-2">Diploma In Computer Engineering [Pursuing]<br><p class="text-white/20">The Maharaja Sayajirao University of Baroda Polytechnic, Vadodara</p></p>
      <p class="p-2">Secondary - X<br><p class="text-white/20">Urmi School And Hostel, Sama, Vadodara</p></p>
    </div>
  </div>

</div>

